@import "tailwindcss";

@layer utilities{
  @media (min-width: 769px) {
    .wide-screen {min-height: calc(100vh - 68px); }
  }
  @media (max-width: 768px ) {
    .tall-screen {min-height: calc(100vh - 68px);}
  } 

  @keyframes bounce-for-christ {
    0%,100% {
      transform: translateY(-5%);
      /* transform: rotateZ(20deg); */
    }
    50% {
      transform: translateY(0);
    }
  }

  @keyframes open-menu{
    0% {
        transform: scaleY(0);
    }
    80%{
        transform: scaleY(1.2);
    }
    100%{
        transform: scaleY(1);
    }
  }
  .gtljc_dev_name{
    /* animation: bounce-for-christ 1s infinite; */
    /* font-size: 4vw; */
    width : 100%;
    font-size: 2rem
  }

  .animate-bounce-for-christ {
    /* animation-name: bounce-for-christ;
    animation-duration: 1s;
    /* animation-delay: -2s; To be graciously considered later on*/
    /* animation-iteration-count: infinite;
    animation-timing-function: ease;  To be graciously considered later on*/
    animation: bounce-for-christ 1s infinite;
  }

  .animate-open-menu{
    animation-name: open-menu;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    /* animation-delay: 0.1s */
  }

  .toggle-btn{
    &>div::before {
      transform: translateY(0.75rem) rotate(45deg);
    } 
    &>div::after {
      transform: translateY(-0.75rem) rotate(-45deg);
    } 
    &>div{
      background-color: transparent;
      transform: rotate(720deg);
    }
  }


  .icons-forChristAlone{
    display: inline-block;
    border-radius: 50%;
    height: 5vh;
    background-color: blue;
  }

section{
  margin-left: auto;
  margin-right: auto;
}
.imgIcon {
    display : inline;
    border-radius: 50%;
    /* opacity : 70%; */
    height: 10vh;
    position: absolute;
    animation: img_not_rotate 20s linear infinite

}

.imgIcon:nth-child(1){ top:-10%; left: 40%;}
.imgIcon:nth-child(2){ top:40%; left: -10%;}
.imgIcon:nth-child(3){ top:40%; left: 90%;}
.imgIcon:nth-child(4){ top:90%; left: 40%;}

.container{
    /* border: 3px solid green; */
    height : 50vh;
    width : 50vh;
    position: relative;
    margin: 10vh auto 10vh;

}
.changed_border{
  border: 10px dashed rgb(97, 97, 237);
}
.img_container{
    border: 10px dashed brown;
    padding : 20px;
    border-radius: 50%;
    height : 120%;
    width : 120%;
    /* overflow : hidden; */
    position: relative;
    animation: rotate_ 20s linear infinite;
    margin-left: -5vh;
    margin-right: auto;
    
}
.graciousPortfolioImg{
  height : 120%;
  position: relative;
  left: 3vh;
  top: -6vh;
  z-index: -10;


}

.centered_image{
    position: absolute;
    top: 20%;
    left: 20%;
    border-radius: 50%;
    /* border: 4px solid pink; */
    height: 80%;
    width : 80%;
    margin-left: -5vh;
    filter:drop-shadow( 0px 0px 30px #4444dd);
    /* filter:drop-shadow( 0px 10px 10px #4444dd); */
    /* filter:drop-shadow( 0px 10px 70px rgb(198, 221, 68)); */
    z-index: -10;
}




@keyframes rotate_ {
    from {
        transform: rotate(0deg);
    }
    to {
        transform : rotate(360deg)
    }
}

@keyframes img_not_rotate{
    from{
       transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg)
    }
}

  .gtljc_pulsing_text{
    animation: pulsation_FORCHRISTALONE 1s ease-in-out 0s infinite ;
  
  }

  @keyframes pulsation_FORCHRISTALONE{
    from {
      color: red;
    }
    to {
      color : blue;
    }
  }

}



